<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>114638979069-qt94mvn9uahjj6c4u3ui17v3921f9g9o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.114638979069-qt94mvn9uahjj6c4u3ui17v3921f9g9o</string>
	<key>API_KEY</key>
	<string>AIzaSyA-fmbMdpf-CW532eNnhvSiQZd7BfiinUA</string>
	<key>GCM_SENDER_ID</key>
	<string>114638979069</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ShopifyApp</string>
	<key>PROJECT_ID</key>
	<string>shopify-iti-mad-ismailia</string>
	<key>STORAGE_BUCKET</key>
	<string>shopify-iti-mad-ismailia.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:114638979069:ios:7ef8a948242f5910f96394</string>
</dict>
</plist>